.gradient-custom {
    /* fallback for old browsers */
    background: #304352;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #d7d2cc 0%, #304352 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #d7d2cc 0%, #304352 100%);

}